{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'login.css' %}" />
</head>
<body>

  <div class="login-container">
    <h2>Login</h2>
    <form action={% url 'login_user' %} method="POST">
      <input type="text" name="Full name" placeholder="Full Name" required />
      <input type="tel" name="mobile" placeholder="Mobile Number" required />
      <button type="submit">Get OTP</button>
    </form>
    <div class="new-user">
      <p>New User? <a href="{% url 'register_user_form' %}">Sign In</a></p>
    </div>
  </div>

</body>
</html>