{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'register.css' %}" />
</head>
<body>

  <div class="signup-container">
    <h2>New User Sign Up</h2>

    {% if messages %}
        <ul class="messages" id = "django-messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
    {% endif %}

    <script>
    setTimeout(function() {
      var msg = document.getElementById('django-messages');
      if (msg) { msg.style.display = 'none'; }
    }, 3000); // 3000 ms = 3 seconds
  </script>


    <form id="signupForm" method="post" action="{% url 'register_user_form' %}">
      {% csrf_token %} 
      <input type="text" name="full_name" placeholder="Full Name" required />
      <input type="tel" name="phone_number" placeholder="Phone Number" required />
      <input type="email" name="email" placeholder="Email Address" />
      <button type="submit">Register</button>
       <a href={% url 'login_user'%} class="btn">Already have an account? Login</a>
    </form>
   
  </div>

</body>
</html>
